<footer class="bg-dark mt-4">
  <div class="container-fluid py-3">
    <div class="row">
      <div class="col-md-6">
        <%= t('admin.footer.app_description') %>
      </div>
      <div class="col-md-6 text-right small align-self-end">
        <%= current_year %>,
        KravchenkoDS
        <%= github_url('KravchenkoDS', 'TestGuru') %>
        <br><%= link_to t('admin.footer.app_description_with_url'),
                        "https://thinknetica.com/", target: '_blank' %>
      </div>
    </div>
  </div>
</footer>