
<footer>
  <br>
  <div align="center">
    <%= current_year %>
    KravchenkoDS
    <%= github_url('KravchenkoDS', 'TestGuru') %>
    <p>
      <%= t('footer.app_description') %>
    </p>
    <p>
      <%= link_to  t('footer.app_description_with_url'),
                   "https://thinknetica.com/", target: '_blank'%>
    </p>
  </div>
</footer>